/*  Theme HTML Template */

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .main-header .logo {
    position: relative !important;
    top: 17px;
    left: 0px !important;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
  .main-header {
    padding: 0px !important;
  }
  .main-header .main-menu {
    text-align: center !important;
  }
  .main-header .link-button {
    top: 90px !important;
    right: 20px !important;
  }

  .choose-us .causes-progress {
    margin-top: 40px;
    margin-left: 0px !important;
  }
  .contact-section .right-side {
    margin-top: 20px;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 810px) {
  .main-header .link-button {
    top: 32px !important;
  }
}
@media only screen and (max-width: 767px) {
  .main-header .main-menu {
    position: absolute !important;
    top: 0px !important;
  }
  .main-header .link-button {
    top: 25px !important;
  }
  .main-header .logo {
    position: relative !important;
    text-align: center !important;
    top: 10px !important;
  }
  .main-header {
    padding: 10px 50px !important;
  }
  .main-menu .navbar-header {
    position: relative;
    float: none;
    display: block;
    text-align: right;
    width: 100%;
    padding: 25px 0px;
    z-index: 12;
  }
  .main-menu .navbar-header .navbar-toggle {
    display: block;
    border: 1px solid #ffffff;
    float: left;
    height: 50px;
    width: 50px;
    padding-left: 12px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    background: #222222;
  }
  .main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #ffffff;
  }
  .main-menu .navbar-collapse > .navigation {
    float: none !important;
    width: 100% !important;
    background: #000;
    max-width: 350px;
  }
  .main-menu .navbar-collapse > .navigation > li {
    margin: 0px !important;
    float: none !important;
    width: 100%;
    padding-right: 0px !important;
  }
  .main-menu .navigation > li > a,
  .main-menu .navigation > li > ul:before {
    border: none;
  }
  .main-menu .navbar-collapse > .navigation > li > a {
    padding: 10px 10px !important;
    border: none !important;
  }
  .main-menu .navigation li.dropdown > a:after,
  .main-menu .navigation > li.dropdown > a:before,
  .main-menu .navigation > li > ul > li > a::before,
  .main-menu .navigation > li > ul > li > ul > li > a::before {
    color: #ffffff !important;
    right: 15px;
    font-size: 16px;
    display: none !important;
  }
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul {
    position: relative;
    border: none;
    float: none;
    visibility: visible;
    opacity: 1;
    display: none;
    margin: 0px;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    width: 100%;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
  }

  .main-menu .navbar-collapse > .navigation > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
    opacity: 1 !important;
    top: 0px !important;
    left: 0px !important;
    visibility: visible !important;
  }
  .main-menu .navbar-collapse > .navigation > li:first-child {
    border: none;
  }
  .main-menu .navbar-collapse > .navigation > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
    padding: 15px 10px !important;
    line-height: 22px;
    color: #ffffff;
    background: #000000;
    text-align: left;
  }

  .main-menu .navbar-collapse > .navigation li.dropdown:after,
  .main-menu .navigation > li > ul:before {
    display: none !important;
  }
  .main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 12px;
    color: #ffffff;
  }
  .main-menu .navbar-collapse > .navigation li.current .dropdown-btn,
  .main-menu .navbar-collapse > .navigation li:hover .dropdown-btn {
    color: #222222;
  }

  .main-menu .navigation > li.dropdown:hover > ul {
    display: block;
    position: inherit;
  }

  .main-menu .navigation > li > ul > li {
    border-bottom: 0;
  }

  .main-menu .navigation > li > ul > li a {
    background: #292929 !important;
  }
}

@media only screen and (max-width: 600px) {
  .main-header .link-button {
    display: none;
  }
  .main-header .main-menu {
    left: 10px !important;
  }
  .main-header .logo {
    right: 20px !important;
    text-align: right;
  }
}
@media only screen and (max-width: 400px) {
  .footer-bottom .copyright-text {
    float: left !important;
  }
}
