@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Unna');

@import url('font-awesome.min.css');
@import url('flaticon.css');
@import url('bootstrap.min.css');

@media (min-width: 1200px) {
  .container {
    padding: 0px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

body {
  font-size: 15px;
  color: #555;
  line-height: 1.8em;
  font-weight: 400;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
}
.page-wrapper {
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: 'Unna', serif;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
p {
  position: relative;
  font-size: 14px;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
}
.strike-through {
  text-decoration: line-through;
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.small-container {
  max-width: 680px;
  margin: 0 auto;
}
.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.anim-3,
.anim-3-all * {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.anim-5,
.anim-5-all * {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.anim-7,
.anim-7-all * {
  transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #222222;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #222222;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #222222;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222222;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #222222;
}
.btn-style-one {
  font-size: 14px;
  color: #ffffff;
  line-height: 29px;
  font-weight: 600;
  padding: 8px 24px;
  background: #222222;
  letter-spacing: 1px;
  border: 1px solid #222222;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn-style-one:hover {
  color: #222222;
  border: 1px solid #222222;
  background: transparent;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.section-title {
  position: relative;
}
.section-title:before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 50px;
  height: 2px;
  content: '';
  background: #222222;
  margin-left: -25px;
}
.section-title h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: 65px;
  color: #222222;
  padding-bottom: 15px;
}
.section-title p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: #777777;
}

/***

====================================================================
	Main Header
====================================================================

***/

@-webkit-keyframes menu_sticky {
  0% {
    margin-top: -150px;
  }
  50% {
    margin-top: -130px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes menu_sticky {
  0% {
    margin-top: -150px;
  }
  50% {
    margin-top: -130px;
  }
  100% {
    margin-top: 0;
  }
}
.main-header {
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 0px 70px;
  box-shadow: 0 0 11px 3px #cccccc;
}
.fixed-header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: #ffffff;
  -webkit-animation-name: menu_sticky;
  animation-name: menu_sticky;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  box-shadow: 0px 3px 20px 0px rgba(32, 30, 30, 0.8);
}
.main-header .logo {
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 10;
}
.main-header .main-menu {
  text-align: center;
  display: block;
}
.main-header .link-button {
  position: absolute;
  right: 70px;
  top: 32px;
}
.main-menu .navbar-collapse {
  padding: 0px;
}
.main-menu .navigation {
  position: relative;
  margin: 0px;
}
.main-menu .navigation > li {
  position: relative;
  text-align: left;
  padding-right: 10px;
  display: inline-block;
}
.main-menu .navigation > .current ul li a {
  color: #ffffff;
}
.main-menu .navigation > li > a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #222222;
  line-height: 26px;
  font-weight: 600;
  opacity: 1;
  padding: 32px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
.main-menu .navigation > li:hover > a {
  background: #f2f2f2;
}

.main-menu .navigation > li.active > a {
  text-decoration: underline;
}

.main-menu .navigation > li > ul {
  position: absolute;
  left: 0px;
  width: 220px;
  padding: 0px;
  z-index: 1;
  display: none;
  background: #222222;
}
.main-menu .navigation > li > ul > li {
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
.main-menu .navigation > li > ul > li:last-child {
  border-bottom: none;
}
.main-menu .navigation > li > ul > li > a {
  position: relative;
  display: block;
  line-height: 26px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #ffffff;
  background: #222222;
  padding: 6px 15px;
  font-family: 'Open Sans', sans-serif;
}
.main-menu .navigation > li > ul > li > a:hover {
  color: #222222;
  background: #ffffff;
}
.main-menu .navigation > li.dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
  display: block;
  position: absolute;
  right: -5px;
  top: 32px;
  font-size: 15px;
}
.link-button .social-links {
  display: inline-block;
}
.link-button .search_option {
  margin-left: 40px;
  display: inline-block;
}
.link-button .social-links li {
  display: inline-block;
}
.link-button .social-links li i {
  font-size: 13px;
  color: #222222;
  line-height: 26px;
  margin-left: 22px;
}

/***

====================================================================
	Wellcome Section
====================================================================

***/

.wellcome-section {
  padding: 110px 0px 70px;
}
.wellcome-section .section-title {
  margin-bottom: 70px;
}
.wellcome-section .item-holder {
  padding: 0px 25px;
  margin-bottom: 40px;
}
.wellcome-section .icon-box {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  border: 1px solid #e6e6e6;
}
.wellcome-section .icon-box i:before {
  font-size: 45px;
  color: #000000;
}
.wellcome-section h5 {
  font-size: 22px;
  line-height: 32px;
  color: #222222;
  font-weight: 600;
  padding: 25px 0px;
  font-family: 'Open Sans', sans-serif;
}
.wellcome-section p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #555;
  padding-bottom: 25px;
}

/***

====================================================================
	Choose Us
====================================================================

***/

.choose-us {
  padding: 110px 0px 115px;
}
.choose-us .section-title {
  margin-bottom: 50px;
}
.choose-us .text p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #222222;
}
.choose-us .content-text p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #555;
}
.choose-us .causes-progress {
  position: relative;
  width: 100%;
  margin-left: 50px;
  padding-right: 40px;
  margin-bottom: 15px;
}
.choose-us .progress-item h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #222222;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}
.choose-us .progress-item .progress {
  margin-bottom: 25px;
  overflow: visible;
  height: 5px;
  background: #e5e5e5;
  box-shadow: none;
}
.choose-us .progress-item .progress-bar {
  position: relative;
  background: #282e35;
  height: 5px;
  text-align: left;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.choose-us .progress-bar .value-holder {
  position: absolute;
  top: -30px;
  right: -10px;
  color: #222222;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.choose-us .progress-bar .value-holder span {
  font-size: 15px;
  color: #222222;
  line-height: 26px;
  font-weight: 400;
}

/***

====================================================================
	Cta Section
====================================================================

***/

.cta-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.cta-section h2 {
  font-size: 30px;
  line-height: 65px;
  color: #222222;
  padding-bottom: 20px;
  font-weight: 400;
}
.cta-section p {
  font-size: 17px;
  color: #222222;
  line-height: 26px;
}

/***

====================================================================
   Contact Section
====================================================================

***/

.contact-section {
  padding: 100px 0px;
  background: #f5f5f5;
}

.contact-section .contact-info {
  margin-top: 30px;
}

.contact-section.no-cta {
  padding-top: 0px;
}

.contact-section .left-side {
  margin-right: 50px;
}
.contact-section .form-group {
  margin-bottom: 20px;
}
.contact-section .form-group input {
  display: inline-block;
  color: #222222;
  font-size: 15px;
  box-shadow: none;
  background: none;
  border: none;
  padding: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #dedede;
  transition: all 500ms ease 0s;
}
.contact-section .form-group textarea {
  display: inline-block;
  resize: none;
  color: #222222;
  font-size: 14px;
  box-shadow: none;
  background: none;
  border: none;
  padding: 10px 0px 20px;
  border-bottom: 1px solid #dedede;
  transition: all 500ms ease 0s;
}
.contact-section .form-bottom {
  display: block;
}
.contact-section .right-side {
  margin-left: 50px;
}
.contact-section .right-side .text p {
  font-size: 17px;
  line-height: 28px;
  color: #222222;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.contact-section .right-side li {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 26px;
  padding-left: 20px;
  margin-top: 10px;
}
.contact-section .right-side li i {
  position: absolute;
  top: 6px;
  left: 0px;
  font-size: 14px;
}

/***

====================================================================
	Footer Bottom
====================================================================

***/

.footer-bottom {
  padding: 13px 0px;
  background: #ffffff;
  border-top: 1px solid #e5e5e5;
}
.footer-bottom .copyright-text p {
  font-size: 12px;
  font-weight: 400;
  color: #222221;
  line-height: 26px;
  margin-bottom: 0px;
  padding: 6px 0px;
  text-transform: capitalize;
}
.footer-bottom a {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #26272a;
  font-family: 'Unna', serif;
}

/***

====================================================================
	Page Title
====================================================================

***/

.page-title {
  padding: 95px 0px 90px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.page-title .title h4 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  color: #222222;
  text-transform: capitalize;
}
.page-title .title-manu li {
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  color: #222222;
  margin-left: 15px;
  padding: 10px 0px;
  display: inline-block;
  text-transform: capitalize;
}
.page-title .title-manu li a {
  color: #222222;
  transition: all 500ms ease;
}
.page-title .title-manu li a:hover {
  color: #222222;
  transition: all 500ms ease;
}

/***

====================================================================
	Contact Section Style Two
====================================================================

***/

.contact-section.style-two {
  background: #ffffff;
}
.contact-section.style-two .section-title {
  margin-bottom: 40px;
}
.contact-section.style-two .section-title.text-left:before {
  left: 0px;
  margin-left: 0px;
}
